<div class="register">
  <form>
    <div class="register-title-block">
      <span class="title"> Dodaj koordynatora </span>
<!--      <span class="as-coordinator">jako koordynator placówki</span>-->
    </div>
    <input id="fname" type="text" formControlName="fname" placeholder="Imię" required="">
    <input id="lname" type="text" formControlName="lname" placeholder="Nazwisko" required="">
    <input id="phone" type="text" formControlName="phone" placeholder="Nr Telefonu" required="">
    <input id="email" type="email" formControlName="email" placeholder="Email" required="">
    <input id="password" type="password" formControlName="password" placeholder="Hasło" required="">
    <button type="submit">Dodaj</button>
  </form>
</div>
