<div class="register">
  <form>
    <div class="register-title-block">
      <span class="title"> Dodaj placówkę </span>
      <!--      <span class="as-coordinator">jako koordynator placówki</span>-->
    </div>

    <input id="district" type="text" formControlName="district" placeholder="Dzielnica" required="">
    <input id="name" type="text" formControlName="name" placeholder="Nazwa" required="">
    <input id="shortName" type="text" formControlName="shortName" placeholder="Krótka nazwa" required="">
    <input id="streetAddress" type="text" formControlName="streetAddress" placeholder="Ulica" required="">
    <input id="numberAddress" type="text" formControlName="numberAddress" placeholder="Numer domu" required="">
    <input id="zipCode" type="text" formControlName="zipCode" placeholder="Kod pocztowy" required="">
    <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Nr telefonu" required="">
    <input id="limitOfPlaces" type="text" formControlName="limitOfPlaces" placeholder="Limit Miejsc" required="">
    <input id="takenPlaces" type="text" formControlName="takenPlaces" placeholder="Zajęte" required="">
    <input id="coordinator" type="text" formControlName="coordinator" placeholder="Koordynator" required="">

    <button type="submit">Dodaj</button>
  </form>
</div>
