
<div class="cards-section">
  <h3 class="title-cards">
    Czego szukasz?
  </h3>

  <div class="cards-container">
    <div (click)="goToDetailsList('lunch')" class="card">
      <div class="card-content">
        <i class="fa-solid fa-utensils fa-3x"></i>
        <span class="title"> jadłodajnie </span>
        </div>
    </div>
    <div (click)="goToDetailsList('shelter')" class="card">
      <div class="card-content">
        <i class="fa-solid fa-bed fa-3x"></i>
        <span class="title"> noclegownie </span>
        </div>
    </div>
  </div>
  <div class="cards-container">
    <div (click)="goToDetailsList('heating')" class="card">
      <div class="card-content">
        <i class="fa-solid fa-fire fa-3x"></i>
        <span class="title"> ogrzewalnie </span>
        </div>
    </div>
    <div (click)="goToDetailsList('shower')"  class="card">
      <div class="card-content">
        <i class="fa-solid fa-shower fa-3x"></i>
        <span class="title">łaźnie </span>
        </div>
    </div>
  </div>

</div>
